<!DOCTYPE html>
<html>
	<head>
		<title>{{model.title}}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="materialize/css/materialize.css">
		<link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/error.css">
        <link rel="stylesheet" href="css/homeForm.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<script src="js/jQuery.js"></script>
		<script src="materialize/js/materialize.js"></script>
        <script src="js/vue.js"></script>
	</head>
	<body>
        <nav id="navbar" class="grey darken-4 white-text" style="background-color: #4d4d4d;">
			<div class="nav-wrapper">
				<ul class="left hide-on-med-and-down">
					<template v-for="tab in leftTabs">
						<a :href="tab.url" class="waves-effect" :class="{ 'active': tab.active }">{{ tab.text }}</a>
					</template>
				</ul>
				<a :href="titleLink" class="brand-logo center hover-only"><img :src="logo">{{ title }}</a>
				<ul class="right hide-on-med-and-down">
					<template v-for="tab in rightTabs">
						<a :href="tab.url" class="waves-effect" :class="{ 'active': tab.active }">{{ tab.text }}</a>
					</template>
				</ul>
			</div>
		</nav>
        <div id="login" class="row">
			<div class="col m4"></div>
			<div class="card col m4 grey darken-4 white-text">
                <div class="card-title">
                    <h1 class="center-align">{{title}}</h1>
                    <h6 class="red-text center-align">{{model.error}}</h6>
                </div>
                <div class="card-content" style="padding-top: 0 !important;">
					<form id="form" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" name="username" type="text" class="validate white-text" v-model="form.username">
                                <label for="username">{{usernameLabel}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate white-text" v-model="form.password">
                                <label for="password">{{passwordLabel}}</label>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf" value="{{model.csrfToken}}">
                        <div class="row">
                            <div class="col s12">
                                <label>
                                    <input name="remember" type="checkbox" class="filled-in" v-model="form.rememberMe">
                                    <span v-html="form.rememberMeText"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="col s4">
                                <button class="btn col s12">{{login}}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action center-align">
                    <a class="teal-text" href="javascript:history.back()">{{back}}</a>
                    <a class="teal-text" href="/">{{homepage}}</a>
                </div>
			</div>
        </div>
		<script src="js/home/navbar.js"></script>
        <script src="js/home/login.js"></script>
        <script>
            navbar.rightTabs[0].active = true;
            login.form.csrfToken = "{{csrfToken}}";
        </script>
	</body>
</html>